@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 97%;
    --foreground: 248 10% 15%;
    --card: 0 0% 100%;
    --card-foreground: 248 10% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 248 10% 15%;
    --primary: 262 80% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 248 10% 15%;
    --muted: 240 5% 90%;
    --muted-foreground: 248 10% 40%;
    --accent: 262 80% 95%;
    --accent-foreground: 262 80% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 85%;
    --input: 240 5% 85%;
    --ring: 262 80% 58%;
    --chart-1: 262 80% 58%;
    --chart-2: 248 78% 62%;
    --chart-3: 288 78% 68%;
    --chart-4: 320 78% 72%;
    --chart-5: 352 88% 76%;
    --radius: 0.5rem;
    --sidebar-background: 248 10% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 248 10% 10%;
    --sidebar-accent: 248 10% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 248 10% 20%;
    --sidebar-ring: 262 80% 68%;
  }
  .dark {
    --background: 248 10% 10%;
    --foreground: 0 0% 98%;
    --card: 248 10% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 248 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 80% 68%;
    --primary-foreground: 248 10% 10%;
    --secondary: 248 10% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 248 10% 17%;
    --muted-foreground: 0 0% 65%;
    --accent: 262 80% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 248 10% 17%;
    --input: 248 10% 17%;
    --ring: 262 80% 68%;
    --chart-1: 262 80% 68%;
    --chart-2: 248 78% 72%;
    --chart-3: 288 78% 78%;
    --chart-4: 320 78% 82%;
    --chart-5: 352 88% 86%;
    --sidebar-background: 248 10% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 248 10% 10%;
    --sidebar-accent: 248 10% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 248 10% 20%;
    --sidebar-ring: 262 80% 78%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
